<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TFAddressbook Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TFAddressbook iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E27358131486201400BCE1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27358231486201400BCE1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E273586E148690EF00BCE1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2735880148690EF00BCE1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
